-r ./requirements.txt
black
black[jupyter]
build
bumpversion
cibuildwheel
humanize
isort
jupyter
nbconvert[webpdf]
numpy
pandas
pandoc
pre-commit
pympler
pytest
pytest-benchmark
tabulate
twine
types-setuptools
wheel
